<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CálculoDeSuperficies"
        tools:targetApi="31">
        <activity
            android:name=".ActivityHexagon"
            android:exported="false" />
        <activity
            android:name=".ActivityPentagon"
            android:exported="false" />
        <activity
            android:name=".ActivityRhombus"
            android:exported="false" />
        <activity
            android:name=".ActivityTriangle"
            android:exported="false" />
        <activity
            android:name=".ActiviyCircle"
            android:exported="false" />
        <activity
            android:name=".ActivityOval"
            android:exported="false" />
        <activity
            android:name=".ActivitySquare"
            android:exported="false" />
        <activity
            android:name=".ActivityRectangle"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>